@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

.second {
  width: 100vw;
  padding: 150px 0;

  font-family: "Pretendard-Regular";
}

.centered {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.contents {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.article {
  display: flex;
  gap: 20px;
}

.contents > h2 {
  font-size: 32px;
  font-weight: bold;
}

.image {
  display: flex;
  flex-direction: column;
  gap: 15px;

  width: 300px;
  height: 300px;
}

.image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .centered {
    max-width: 600px;
  }
  .contents {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
  }

  .article {
    flex-direction: column;
    gap: 50px;
  }
}
